.SidebarComponent {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 5;
  border-left: 3px solid theme(colors.blue);
  background-color: #cdb4db;
  width: 100px;
  height: 100vh;
  overflow-y: hidden;
  span {
    writing-mode: vertical-rl;
    text-orientation: mixed;
    text-align: center;
    height: 100vh;
    font-size: 3rem;
    letter-spacing: 0.25rem;
    font-family: 'Pilot';
    color: theme(colors.blue);
  }
}
