.AnimatedMarqueeComponent {
  position: fixed;
  pointer-events: none;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh; 
  font-weight: 700;
  overflow-y: hidden;
  overflow-x: scroll;
  text-transform: uppercase;
  wrap: nowrap;
  /* background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%); */
}

.marquee {
  font-size: 12rem;
  position: absolute;
  font-size: var(--marquee-font-size);
  line-height: 1;
  white-space: nowrap;
  letter-spacing: 0;
  overflow: hidden;
  padding: 8px;
  min-width: 100%;
  user-select: none;
  /* background:  #cdb4db; */
  background: theme(colors.green);
  /* background: linear-gradient(233deg, #cdb4db, #cdc8ec, #cdb4db);
  background-size: 600% 600%;

  -webkit-animation: BG 36s ease infinite;
  -moz-animation: BG 36s ease infinite;
  animation: BG 36s ease infinite; */
  z-index: 999;
  color: #333;
  &.top {
    top: 0;
  }
  &.left {
    left: 0;
    bottom: -6vmin;
    transform: rotate(-0.25turn);
    transform-origin: 0 0;
    z-index: 999;
  }
  &.right {
    left: calc(100vw - 52px);
    bottom: -6vmin;
    transform: rotate(-0.25turn);
    transform-origin: 0 0;
    z-index: 999;
  }
  &.bottom {
    bottom: -1px;
    right: 0;
    transform: rotate(0.5turn);
  }    
}
