.NavbarComponent {
    background: #cdb4db;
    width: 100%;
    display: flex;
    justify-content: space-between;
    overflow-x: hidden;
    border-bottom: 2px solid theme(colors.blue);
    overflow: hidden;
    min-height: 100px;
}