.AnimatedTextVerticalComponent {
    max-width: 100%;
    --gap: 1rem;
    display: flex;
    overflow: hidden;
    user-select: none;
    font-family: 'Pilot';
    margin: 1rem;
    line-height: 0;
    gap: var(--gap);
    color: theme(colors.blue);
    writing-mode: vertical-rl;
    text-orientation: sideways;
    @apply text-6xl md:text-6xl;
    .content {
      display: flex;
      justify-content: space-around;
      gap: var(--gap);
      animation-name: scroll;
      animation: scroll 20s linear infinite;
      
      max-width: min-content;
      text-transform: uppercase;
      -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
      
      > li {
        display: flex;
        align-items: center;
        
      }
    }
    @keyframes scroll {
      from {
        transform: translateX(0);
      }
      to {
        transform: translateY(calc(-100% - var(--gap)));
      }
    }
  }
  