.ArabicComponent {
    font-size: 6.5em;
    font-weight: bold;
    position: absolute;
    bottom: 6.2rem;
    color: #222;
    left: 3rem;
    color: #f4d35e;
    font-family: 'Aref Ruqaa Regular';
}