.FullScreenMenuComponent {
    z-index: 999;
    background: rgba(205, 180, 219, 0.8);
    height: 100vh;
    width: 100vw;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    li {
        &:hover {
            color: theme(colors.blue);
            cursor: pointer;
            text-decoration-line: underline;
        }
    }
}