.LogoComponent {
    border-right: 2px solid theme(colors.blue);
    margin: -20px 0;
    overflow: hidden;
    display: flex;
    min-width: 130px;
    align-items: center;
    padding: 5px;
    img {
        margin: 0 auto;
        padding: 5px;
        width: auto;
        filter: invert(1);
    }
}