.ContentComponent {
  /* background-color: #f65aa0; */
  /* background-color: #fdb833; */
  /* background-color: #b298dc; */
  background-color: #cdb4db; /* Craft paper */
  height: 100%;
  overflow-y: hidden;
  width: 100%;
  &.horizontal {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    > div {
      flex: 0 0 auto;
    }
  }
}
