.AnimatedTextComponent {
  max-width: 100%;
  --gap: 1rem;
  display: flex;
  overflow: hidden;
  user-select: none;
  font-family: 'Pilot';
  gap: var(--gap);
  color: theme(colors.blue);
  @apply text-8xl md:text-8xl;
  .content {
    flex-shrink: 0;
    display: flex;
    justify-content: space-around;
    gap: var(--gap);
    animation-name: scroll;
    animation: scroll 20s linear infinite;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    
    max-width: min-content;
    text-transform: uppercase;
    > li {
      display: flex;
      align-items: center;
    }
  }
  @keyframes scroll {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(calc(-100% - var(--gap)));
    }
  }
}
