@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-background: #151818;
  --color-text: whitesmoke;
  --color-chill: #ecf232;
  --marquee-font-size: min(max(12px, 2vw), 22px);
  --headline-font-size: min(max(40px, 6vw), 70px);
  --paragraph-font-size: min(max(16px, 4vw), 22px);
  --section-heading-font-size: min(max(30px, 4vw), 50px);
  --duration: 300ms;
  --ease: cubic-bezier(0.33, 1, 0.68, 1);
}

* {
  box-sizing: border-box;
}

body {
  overscroll-behavior: none;

}

@font-face {
  font-family: "Pilot";
  src: url("/Pilot-SemiBold.woff2") format("woff2"),
    url("/Pilot-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Rakkas";
  src: url("/ArefRuqaa-Regular.woff2") format("woff2"),
    url("/ArefRuqaa-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Plus Jakarta Sans";
  src: url("/PlusJakartaSans-VariableFont_wght.ttf") format("ttf"),
    url("/PlusJakartaSans-VariableFont_wght.woff2") format("woff2"),
    url("/PlusJakartaSans-VariableFont_wght.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
html,
body,
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-weight: 300;
  color: #473851;
  font-family: "Futura", "Plus Jakarta Sans", "Gill Sans", "Gill Sans MT",
    Calibri, "Trebuchet MS", sans-serif;
}

html,
body {
  /* 
  This is a fix for the horizontal scroll issue on mobile devices.
 https://greensock.com/forums/topic/30673-problem-with-broken-mobile-view-on-horizontal-scroller/
*/
  overflow-x: clip;
}

.scroll-section-outer {
  overflow: hidden;
  position: relative;
  height: 100vh;
}


.scroll-section-inner {
  height: 100vh;
  display: flex;
  flex-direction: row;
  position: relative;
}

.scroll-section {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.scroll-section h3 {
  color: var(--primaryTextColor);
  letter-spacing: var(--headlineMedium);
  font-size: var(--headlineMedium);
  text-transform: uppercase;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer span {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: var(--headlineBig);
  color: var(--primaryTextColor);
}

.font-arabic {
  -webkit-text-stroke-width: 0;
  -webkit-text-stroke-color: theme(colors.blue);
}

/* svg,  
img {
  border: 1px solid #473851;
} */
