.MenuComponent {
  /* height:  0;
  width: 50%;
  min-width: 80px; */
  /* padding-bottom: 56.25%; 16:9 */
  height: 100%;
  min-width: 100px;
  display: flex;
  border-radius: 1px solid white;
  img {
    margin: 0 auto;
    text-align: center;
    padding: 10px;
  }
}
